@model Livro
<div class="row justify-content-md-center">
    <form asp-action="Cadastro" method="POST" class="col-md-4">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Titulo">Titulo</label>
            <input asp-for="Titulo" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Autor">Ator</label>
            <input asp-for="Autor" class="form-control"/>
        </div>
        <div>
            <label asp-for="Ano">Ano</label>
            <input asp-for="Ano" />
        </div>
        <input type="submit" value="Salvar" class="btn btn-primary"/>
    </form>
</div>