@model List<Livro>
@{
    ViewData["Title"] = "Listagem de Livros";
}
<div class="row">
    <div class="col-md-12">
    <form class="form-inline" method="POST">
        <div class="form-group mb-2">
            <select name="TipoFiltro" class="form-control">
                <option value="Autor">Autor</option>
                <option value="Titulo">Título</option>
            </select>
        </div>
        <div class="form-group mb-2 mx-sm-3">
            <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
    </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped"> 
            <thead>
                <tr><th>Id</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Ano</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(Livro l in Model)
                {
                <tr>
                    <td>@l.Id</td>
                    <td>@l.Titulo</td>
                    <td>@l.Autor</td>
                    <td>@l.Ano</td>
                    <td><a href="/Livro/Edicao/@l.Id">Editar</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>