@{
    ViewData["Title"] = "Login";
}
<!--<div class="container">-->
    <div class="row justify-content-md-center">
        <div class="jumbotron col-6">
            <h1>Bem vindo ao sistema Biblioteca</h1>
            <form asp-action="Login" method="POST">
                <div class="form-group">
                    <input type="text" placeholder="Login" class="form-control" name="login" />
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Senha" class="form-control" name="senha"/>
                </div>
                <input type="submit" class="btn btn-primary btn-lg" value="Entrar" />
            </form>
            <p class="text-danger">@ViewData["Erro"]</p>
        </div>
    </div>
<!--</div> -->